<header>
  <div class="header-top-bar">
    <div class="logo-container">
      <a href="index.html">
        <img src="assets/img/logo_Biu.png" alt="Logo Biu" class="logo-biu">
      </a>
    </div>

    <div class="search-container">
      <input type="search" placeholder="Buscar por producto..." id="search-input">
      <button id="search-button">Buscar</button>
    </div>

    <div class="user-nav">
      <a href="cuenta.html" title="Mi Cuenta">👤</a>
      <a href="carrito.html" title="Ver Carrito">🛒</a>
    </div>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="#rostro">Rostro</a></li>
      <li><a href="#ojos">Ojos</a></li>
      <li><a href="#labios">Labios</a></li>
      <li><a href="#uñas">Uñas</a></li>
      <li><a href="#pielCabello">Cuidado de Piel y Cabello</a></li>
    </ul>
  </nav>
</header>